*{padding: 0;}
header{background-color: #99C0FA;}
main{background-color: #93BDF6;}
article{background-color: #617172;}
section{background-color: #94B1B6; }
footer{background-color: #162835; }
aside{background-color: #727376;}